@keyframes sway {
    0% {
        transform: translateX(-5px) rotate(0deg)
    }
    50% {
        transform: translateX(5px) rotate(10deg)
    }
    100% {
        transform: translateX(-5px) rotate(0deg)
    }
}

.rotating-image {
    animation: sway 2s ease-in-out infinite
}

